.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(252, 128, 128);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .drop {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .drop:hover {
    background-color: #d50a0a;
  }
  